<p id="notice"><%= notice %></p>

<h1>Weibos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weibos.each do |weibo| %>
      <tr>
        <td><%= weibo.title %></td>
        <td><%= weibo.description %></td>
        <td><%= link_to 'Show', weibo %></td>
        <td><%= link_to 'Edit', edit_weibo_path(weibo) %></td>
        <td><%= link_to 'Destroy', weibo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weibo', new_weibo_path %>
